.hoverable {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.hoverable .hoverable-text { 
  visibility: hidden;
  width: 120px;
  background-color: black;
  font-size: small;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0.9;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.hoverable:hover .hoverable-text {
  visibility: visible;
}