@media (max-width: map-get($grid-breakpoints-max, "sm") ) {
    #sidenav-main {
        position: sticky !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        overflow-x: visible !important;
    }

    #sidenav-main h4 {
        display: none;
    }

    #sidenav-main h6 {
        color: #606c7a !important; 
        margin: 0 !important;
    } 

    #sidenav-main .navbar-nav {
        margin-top: 0.5rem;
        padding: 0 16px;
    }

    #sidenav-main .nav-item {
        height: 25px;
    }

    #sidenav-main .navbar-nav .nav-link {
        padding: 0;
    }

    #sidenav-main .nav-link.active:after {
        top: 7px !important;
    }

    #sidenav-main .nav-link.active {
        position: unset !important;
        padding-left: 7px;
    }
}

 @media (max-width: 351px ) {
    .main-content {
        margin-top: 114px;
    }
}

.react-datepicker-popper,
.react-datepicker,
.react-datepicker-wrapper {
    z-index: 199 !important;
}

.trocar-familia .skylight-dialog {
    top: 30% !important;
}

.before-title-img {
    float: left;
    margin-right: 8px;
    height: auto;
    width: auto;
    max-width: 18px;
    margin-top: 3px;
}

i.before-title-img {
    font-size: 18px;
}

.main-content {
    position: relative;
    background: #fff;

    @media (max-width: map-get($grid-breakpoints-max, "sm") ) {
        .non-mobile {
            display: none !important;
        }
    }

    li.general-button 
    {
        list-style: none !important;
        border-radius: 25px;

        a {
            background-size: cover;
            background-position: center;
            border-radius: 25px !important;
            width: fit-content !important;
        }
    }

    @media (max-width: map-get($grid-breakpoints-max, "md") ) {
        li.general-button  {
            margin: 0px !important;
            width: 50% !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            float: left;
            margin-top: 10px !important;
        }

        li.general-button:first-child {
            width: calc(50% - 5px) !important;
            margin-right: 5px !important;
        }

        li.general-button:last-child {
            width: calc(50% - 5px) !important;
            margin-left: 5px !important;
        }
    }

    @media (max-width: map-get($grid-breakpoints-max, "sm") ) {
        li.general-button,
        li.general-button:first-child,
        li.general-button:last-child {
            margin: 0px !important;
            width: 100% !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            float: left;
            margin-top: 10px !important;
        }
    }

    li.with-left-margin {
        margin-left:20px;
    }

    li.with-right-margin {
        margin-right:20px;
    }

    li.with-bottom-margin {
        margin-bottom:20px;
    }

    li.light {
        
        color: $navbar-top-color !important;

        a {
            color: $navbar-top-color !important;
        }
    }

    li.dark {
        
        color: #ffffff !important;

        a {
            color: #ffffff;
            border: 1px solid #ffffff;
        }
    }

    li.first-button,
    li.second-button {
        background: black;
        padding: 40px 0px 40px 10px;
        width: 100%;
        //text-align: center;
        //display: flex;
        //justify-content: center;
        background-size: cover;
        background-position: center;
    }

    li.with-border a {

        border: none;
        display: inline-block;
        position: relative;
        z-index: 1;
        cursor: pointer;

        ::before, 
        ::after {
            content: ' ';
            position: absolute;
            border-radius: 25px;
        }

        ::before {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -2;
            background: $navbar-first-color;
            /*
            background: -moz-linear-gradient(left, #00c9fd 0%, #00eec7 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00c9fd), color-stop(100%,#00eec7));
            background: -webkit-linear-gradient(left, #00c9fd 0%,#00eec7 100%);
            background: -o-linear-gradient(left, #00c9fd 0%,#00eec7 100%);
            background: -ms-linear-gradient(left, #00c9fd 0%,#00eec7 100%);
            background: linear-gradient(to right, #00c9fd 0%,#00eec7 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9fd', endColorstr='#00eec7',GradientType=1 );
            */
        }

        ::after {
            top: 2px; 
            bottom: 2px;
            left: 2px;
            right: 2px;
            background-color: #f8f9fe;
            z-index: -1;
            opacity: 1;
            transition: all 0.6s ease-in-out;
        }

        ::hover:after {
            opacity: 0;
        }
    }

    .dream-list {
        margin-top: 20px;
    }

    // Navbar
    .navbar-top {

        height: 82px;
        position: sticky !important;

        @media (max-width: map-get($grid-breakpoints-max, "sm") ) {
            position: fixed !important;
            top: 67px !important;
            bottom: unset !important;
            background: transparent;
        }

        @media (max-width: 351px ) {
            top: 45px !important;
        }

        .container-fluid {
            justify-content: flex-start !important;
        }

        @media (max-width: map-get($grid-breakpoints-max, "md") ) {

            height: auto;

            .container-fluid {
                justify-content: flex-end !important;
            }
        }
        
        li.nav-item {
            list-style: none;
            position: relative;
            padding-left: 10px;
            padding-right: 10px;

            .navigation-pipe {
                position: absolute;
                width: 1.5px; 
                top: 7px; 
                bottom: 7px; 
                right: 0px; 
                background-color: $navbar-top-pipe; 
                overflow: hidden;
            }

            .double-pipe {
                width: 2.5px; 
            }
        }

        a, ul, ul > li {
            color: $navbar-top-color !important;
        }

        @media (max-width: map-get($grid-breakpoints-max, "md") ) {
            li.nav-item:not(:nth-child(4)) {
                display: none;
            }
        }

        .navbar-search .input-group {
            background: #98adcb !important; 
        }

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: #f7faff;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .new-entry {
            
        color: #fff !important;
        padding-left:20px;

        a {
            background-size: cover;
            background-position: center;
            border-radius: 25px !important;
            color: #fff !important;
            width: fit-content !important;
        }
    }
        
    .navbar-top.auth {
        background-color: transparent;
    }

    // Container
    .container-fluid {
        @include media-breakpoint-up(md) {
            padding-left: ($main-content-padding-x + $grid-gutter-width / 2) !important;
            padding-right: ($main-content-padding-x + $grid-gutter-width / 2) !important;
        }
    }

    @media (max-width: map-get($grid-breakpoints-max, "md") ) {
        
        .home-summary-dream-card,
        .home-summary-estimated-realizaded-card,
        .home-summary-estimated-realizaded-card-dark {
            margin-top: 25px;
        }
    }

    .home-summary-dream-card,
    .home-summary-estimated-realizaded-card {
        background: #F7FAFF !important;

        i.fa-info {
            color: #3cedca;
            border: 1px solid #3cedca;
            border-radius: 50%;
            padding: 2px 4.5px;
            font-size: 7px;
        }

        @media (max-width: map-get($grid-breakpoints-max, "lg") ) {
            .table {
                td, th {
                    font-size: 10px !important;
                }
            }
        }

        @media (max-width: map-get($grid-breakpoints-max, "sm") ) {
            .table {
                td, th {
                    font-size: 8px !important;
                }
            }
        }

        .table {
            td, th {
                padding-top: 0.15rem !important;
                padding-bottom: 0.15rem !important;
                padding-left: 0.5rem !important;
                padding-right: 0.5rem !important;
                border-top: none !important;
                font-size: 12px;
            }

            tr:nth-child(4) {
                td:nth-child(1) {
                    border-left: 2px solid #ff5c86 !important;
                    padding-left: 7px;
                }
            }
            tr:nth-child(5) {
                td:nth-child(1) {
                    border-left: 2px solid #3cedc9 !important;
                    padding-left: 7px;
                }
            }
            tr:nth-child(6) {
                td:nth-child(1) {
                    border-left: 2px solid #50c9f7 !important;
                    padding-left: 7px;
                }
            }
            tr:nth-child(7) {
                td:nth-child(1) {
                    border-left: 2px solid #fedc00 !important;
                    padding-left: 7px;
                }
            }
            tr:nth-child(8) {
                td:nth-child(1) {
                    border-left: 2px solid #ff5c86 !important;
                    padding-left: 7px;
                }
            }
        }
    }

    .home-summary-estimated-realizaded-card-dark {
        padding-top: 5px;
        background: #E4EAF4 !important;

        i.fa-info {
            color: #3cedca;
            border: 1px solid #3cedca;
            border-radius: 50%;
            padding: 2px 4.5px;
            font-size: 7px;
        }

        @media (max-width: map-get($grid-breakpoints-max, "lg") ) {
            .table {
                td, th {
                    font-size: 10px !important;
                }
            }
        }

        @media (max-width: map-get($grid-breakpoints-max, "sm") ) {
            .table {
                td, th {
                    font-size: 8px !important;
                }
            }
        }

        .table {

            th {
                color: #fff !important;
            }

            td:first-child, th.first-child {
                color: #fff !important;
            }

            td, th { 
                padding-top: 0.3rem !important;
                padding-bottom: 0.25rem !important;
                padding-left: 0rem !important;
                padding-right: 0.5rem !important;
                border-top: none !important;
                font-size: 12px;
            }

            tr:nth-child(4) {
                td:nth-child(1) {
                    padding-left: 7px;
                }
            }
            tr:nth-child(5) {
                td:nth-child(1) {
                    padding-left: 7px;
                }
            }
            tr:nth-child(6) {
                td:nth-child(1) {
                    padding-left: 7px;
                }
            }
            tr:nth-child(7) {
                td:nth-child(1) {
                    padding-left: 7px;
                }
            }
            tr:nth-child(8) {
                td:nth-child(1) {
                    padding-left: 7px;
                }
            }
        }
    }

    .dream-general {
        padding-left: 15px;
        padding-right: 15px;
    }

    .dream-card {
        padding: 1.5px;
    }

    .dream-card-data {
        padding: 20px;
        background-size: cover;
        background-position: center;
        height: 105px;
        position: relative;
        cursor: pointer;

        .finished {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.85;
        }

        .paralisado {
            opacity: 0.7;
        }

        .progress-bar-right-sidebar 
        {
            position: absolute;
            bottom: 5px;
            left: 10px;
            right: 10px;
            margin-bottom: 0px;
            background: #172b4d;
            border-radius: 15px;

            .bg-indigo {
                background-color: #4fc9f6 !important;
            }
        }

        .hidden {
            display: none !important;
        }
    }

    .dream-card:nth-child(1) > .dream-card-data
    {
        border-top-left-radius: 10px;

        .finished 
        {
            border-top-left-radius: 10px;
        }
    }

    .dream-card > .dream-card-data {
        
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        .finished 
        {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    .dream-card > .dream-card-title{
        
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        .finished 
        {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

    .dream-card:nth-child(3) > .dream-card-data
    {
        border-top-right-radius: 10px;

        .finished 
        {
            border-top-right-radius: 10px;
        }
    }

    .dream-card-title {
        background: #e4eaf4;
        color: #172b4d;
        padding: 5px 7px;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
    }

    @media (max-width: map-get($grid-breakpoints-max, "md") ) {

        .dream-card > .dream-card-data
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .finished 
            {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }

        .dream-card > .dream-card-title
        {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    ul.pagination 
    {
        margin-left: 50%;
        transform: translateX(-50%);

        li {
            padding: 8px 15px;
            a {
                color: #44536F;
            }
        }

        li.active {
            background: #E4EAF5;
            border-radius: 7px;
        }

        li.disabled {
            a {
                color: #E4EAF5;
            }
        }
    }
}

.main-content.auth {
    background-color: transparent;

    .header {
        min-height: 50vh;
    }
}

.main-content.auth .navbar-top {
    top: 0px !important;
}

// Offsets the main content depending on the sidebar positioning

.navbar-vertical.navbar-expand {

    @each $breakpoint,
    $dimension in $grid-breakpoints {

        &-#{$breakpoint} {

            @include media-breakpoint-up(#{$breakpoint}) {

                // Left
                &.fixed-left + .main-content {
                    margin-left: $navbar-vertical-width;
                }

                //@media (min-width: map-get($grid-breakpoints, "xl")) {
                //    &.fixed-left + .main-content {
                //        margin-right: $rightbar-vertical-width;
                //    }
                //}

                // Right
                &.fixed-right + .main-content {
                    margin-right: $navbar-vertical-width;
                }
            }
        }
    }
}

.admin-right {

    display: none;
    
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        display: block;
    }

    position: absolute !important;
    top: 0;
    right: 0;
    padding: 0 !important;
    margin: 0 !important;
    width: 80px !important;
    background: #f7faff;

    > * {
        //padding-left: $rightbar-dropdown-item-padding-x;
        //padding-right: $rightbar-dropdown-item-padding-x;
        //margin-left: -(0.8033333 * $rightbar-dropdown-item-padding-x);
        //margin-right: -(0.8033333 * $rightbar-dropdown-item-padding-x);
        padding-left: 7px;
        padding-top: $navbar-padding-y;
        padding-bottom: $navbar-padding-y;
    }

    > div {
        background: #f7faff;
    }

    > div:first-child {
        background: #e4eaf4;
        height: 82px;

        form {   

            float: left;
            width: 80%;
            margin-top: 6px;

            .input-group {
                //border-color: #98aecb !important;
                background: #fff !important;
                border-radius: 25px !important
            }

            .input-group,
            .input-group-text,
            input {
                color: #98aecb !important;
            }

            input.form-control {
                height: 40px !important;
            }

            .form-group .input-group {
                background: #fff !important;
            }
        }

        ul.navbar-nav {
            flex-direction: row;
            padding-left: 0.4rem !important;
            padding-top: 0.3rem !important;

            .nav-link,
            .nav-link i {
                color: #98aecb !important;
                background: transparent !important;
            }

            .nav-link,
            li.nav-item {
                padding: 0px !important;
            }

            .nav-link.active:before {
                border: none !important;
                border-image: none !important;
            }

            .nav-link.active:after {
                display: none !important;
            }

            .nav-link.active {
                color: #98aecb !important;
                background: transparent !important;

                i {
                    color: #98aecb !important;
                    background: transparent !important;

                    ::before, 
                    ::after {
                        display: none !important;
                    }
                }
            }

            li a {
                text-align: center;
                
                i {
                    padding-top: 0.8rem;
                    min-width: 1.8rem !important;
                }
            }

            li:last-child a i {
                margin-top: 2px;
            }
        }
    }

    .hidden {
        display: none !important;
    }
}

.list-entries {
    margin-top: 15px;
    width: 100%;
    height: 350px;
    overflow-y: auto;

    .table {
        td, th {
            padding-left: 0.4rem !important;
            padding-right: 0.4rem !important;
        }
    }
}

// .filterAndOnder {

//     display: flex;
//     align-items: center;
//     justify-content: center;
    
//     &.lancamentos{
//         margin-left: 50%;
//         transform: translateX(-50%);
//         margin-top: 8px;
//     }

//     @media (max-width: 992px ) {
//         margin-top: 5px;
//         margin-bottom: 5px;
//     }

//     label {   
//         font-size: 14px;
//         margin-right: 5px;
//         margin-top: 9px;
//     }

//     &.period {

//         > div:nth-child(2) {
//             margin-right: 10px;
//         }

//         .react-datepicker-wrapper {
//             width: calc(50% - 5px);
//             > div > input {
//                 border-radius: 15px !important;
//                 background: #F7FAFF !important;
//                 border: 1px solid #E4EAF5 !important;
//                 padding: 6px 12px;
//                 width: 100%;
//             }
//         }
//     }

//     &.text-field,
//     .text-field {
//         margin-top: 10px;
//         > input {
//             width: 100%;
//             border-radius: 15px !important;
//             background: #F7FAFF !important;
//             border: 1px solid #E4EAF5 !important;
//             padding: 6px 12px;
//         }
//     }

//     .select-component
//     {
//         width: 100%;

//         > div {
//             border-radius: 15px !important;
//             background: #F7FAFF !important;
//             border: 1px solid #E4EAF5 !important;
//         }
//     }
// }

.mt--auth {
    margin-top: -14.375vw !important;

    @media (max-width: 767px){
        margin-top: -14rem !important;
    }
}

.react-confirm-alert-overlay {
    z-index: 9999999 !important;
}

.MuiPaper-root {
    margin: 10px;
}

@media (max-width: 959.95px)
{
    .MUIDataTableBodyCell-cellStacked-181,
    .MUIDataTableBodyCell-responsiveStacked-182 {
        width: calc(50% - 24px) !important;
        font-size: 14.5px !important;
        word-wrap: break-word !important;
        white-space: normal !important;
    }
}

@media (max-width: 424px)
{
    .MUIDataTableBodyCell-cellStacked-181,
    .MUIDataTableBodyCell-responsiveStacked-182 {
        font-size: 13px !important;
    }
}

a {
    cursor: pointer;
}

.MuiIconButton-label {
    display: block !important;
}

// table.MuiTable-root {
//     thead {
//         tr {
//             th:after:not(:first-child) {
//                 position: absolute;
//                 top: 16px;
//                 right: 4px;
//                 opacity: 0.2;
//                 content: "\2193";
//             }
//             th:before:not(:first-child) {
//                 position: absolute;
//                 top: 16px;
//                 right: 9px;
//                 opacity: 0.2;
//                 content: "\2191";
//             }
//             th.sorting_asc:before {
//                 opacity: 1;
//                 content: "\e155";
//             }
//             th.sorting_desc:after {
//                 opacity: 1;
//                 content: "\e156";
//             }
//         }
//     }
// }

.gestao-planos-grid-title .select-component {
    z-index: 9;
}

.patrimonio-popup,
.novo-lancamento-popup,
.nova-familia-popup
 {
    .select-component {
        z-index: auto;
    }
}

.gestao-planos-grid-title .select-component {
    float: left;
    margin-left: 7px;
    width: 150px;
}

.bg-default {
    background:#4054B2 !important;
}

.react-confirm-alert-body{
    width: 700px !important;
}