.aposentadoria {
    line-height: 2.5rem;
}
#chart .apexcharts-xaxis-texts-g > *:nth-child(odd) {
    display: none; }

.css-2b097c-container{
    min-width: 150px;
    /*font-size: 0.8rem;*/
}
.css-26l3qy-menu{
    font-size: 0.7rem;
}
