.modal_pesquisa{
    padding: 50px;
}

.modal_title{
    font-size: 1.75rem;
    font-weight: bolder;
    color: #525f7f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-left: 50px;
}

.modal_text{
    font-size: 1.2rem;
    font-weight: 550;
    color: #525f7f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.modal_text_footer{
    font-size: 0.9rem;
    font-weight: 200;
    color: #525f7f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.modal_pesquisa strong{
    font-weight: 800;
}

.botaotermos .skylight-close-button{
    display: none;
}

.link_pol{
    color: darkcyan;
    font-weight: 400;
}

.link_pol:hover{
    color: purple;
}

.check-termos{
    border-radius: 0.25rem;
}
