.input-group-alternative .select-component {
    width: 100% !important;
}

.select-component {
    z-index: unset;
}

button.MuiButtonBase-root.MuiIconButton-root {
    padding: 0px 5px 2px 6px;
}

div.MuiToolbar-root.MuiToolbar-regular {
    min-height: 50px !important;
}

div.MuiPaper-root.MUIDataTable-paper-14 {
    margin: 10px;
}