._loading_overlay_overlay {
    height: 100vh !important;
}

._loading_overlay_wrapper {
    display: none;
}

._loading_overlay_overlay,
._loading_overlay_wrapper {
    z-index: 99999999 !important;
}

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
        padding: 0.3rem 1.5rem;
    }
}