div.table-lancamentos-categoria div.MuiToolbar-root.MuiToolbar-regular  {
    display: none;
}

div.table-lancamentos-categoria div.MuiPaper-elevation4 {
    box-shadow: none;
}

div.table-lancamentos-categoria .MuiTableRow-root {
    background-color: #fff;
    border-bottom: 1px solid rgba(224, 224, 224, 1);

}

.table-lancamentos-categoria thead {
    text-align: center;
    overflow: visible;
}

.table-lancamentos-categoria .MuiPaper-root {
    overflow: visible;
}

div.table-lancamentos-categoria .Mui-selected {
    background-color:#f5005714;
}