//
// Navbar
//


// Navbar links

.navbar-horizontal {
    .navbar-nav {
        .nav-link {
            font-size: $menu-font-size;
            font-weight: $navbar-nav-link-font-weight;
            text-transform: $navbar-nav-link-text-transform;
            letter-spacing: $navbar-nav-link-letter-spacing;
            @include transition($navbar-transition);

            .nav-link-inner--text {
                margin-left: .25rem;
            }
        }
    }


    // Navbar brand (logo)

    .navbar-brand {
        font-size: $font-size-sm;
        font-weight: 600;
        text-transform: uppercase;
        font-size: .875rem;
        letter-spacing: .05px;

        img {
            height: 30px;
        }
    }

    .navbar-dark {
        .navbar-brand {
            color: $white;
        }
    }

    .navbar-light {
        .navbar-brand {
            color: $gray-800;
        }
    }

    .navbar-nav {
      .nav-item {
        .media:not(:last-child){
          margin-bottom: 1.5rem;
        }
      }
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav {
            .nav-item {
                margin-right: .5rem;

                [data-toggle="dropdown"]::after {
                    transition: $transition-base;
                }

                &.show {
                    [data-toggle="dropdown"]::after {
                        transform: rotate(180deg);
                    }
                }
            }
            .nav-link {
                padding-top: $navbar-nav-link-padding-y;
                padding-bottom: $navbar-nav-link-padding-y;
                border-radius: $navbar-nav-link-border-radius;

                i {
                    margin-right: .625rem;
                }
            }

            .nav-link-icon {
                padding-left: .5rem !important;
                padding-right: .5rem !important;
                font-size: 1rem;
                border-radius: $navbar-nav-link-border-radius;

                i {
                    margin-right: 0;
                }
            }
        }
    }


    // Transparent navbar

    .navbar-transparent {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        background-color: transparent;
        border: 0;
        box-shadow: none;

        .navbar-brand {
            color: rgba(255, 255, 255, 1);
        }

        .navbar-toggler {
            color: rgba(255, 255, 255, 1);
        }

        .navbar-toggler-icon {
            background-image: $navbar-dark-toggler-icon-bg;
        }
    }

    @include media-breakpoint-up(md) {
        .navbar-transparent {
            .navbar-nav {
                .nav-link {
                    color: $navbar-dark-color;

                    @include hover-focus {
                        color: $navbar-dark-hover-color;
                    }

                    &.disabled {
                        color: $navbar-dark-disabled-color;
                    }
                }

                .show > .nav-link,
                .active > .nav-link,
                .nav-link.show,
                .nav-link.active {
                    color: $navbar-selected-color !important;
                    background: $navbar-selected-background-color;
                }
            }

            .navbar-brand {
                color: $navbar-dark-color;

                @include hover-focus {
                    color: $navbar-dark-color;
                }
            }
        }
    }
}

#sidenav-main {
    
    &::-webkit-scrollbar {
        width: 10px;
    }
      
    &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #98aecb; 
    }
    
    &::-webkit-scrollbar-track {
    background: #f7faff;
    box-shadow: inset 0 0 1px #606c7a;
    }
    
    &::-webkit-scrollbar-thumb:hover {
    background: #606c7a; 
    }    
}

#right-sidenav-main.bg-vista {
    background: #f7faff;
    z-index: 999;
}

#right-sidenav-main::before {
    content: ' ';
    position: fixed;
    right: 365px;
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    border-radius: 47%;
    border: 0 solid $navbar-third-color;
    border-width: 0 0 0 2px;
    background: linear-gradient(90deg, #F7FAFF 50%, transparent 50%);
    color: $navbar-third-color;
    padding-top: 12px;
    padding-left: 5px;
    font-weight: bolder;
    cursor: pointer;
}

#right-sidenav-main {

    transition:all 1.5s;

    &::before {
        transition:all 1.5s;
        content: '>';
    }

    &::-webkit-scrollbar {
        width: 10px;
    }
      
    &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #98aecb; 
    }
    
    &::-webkit-scrollbar-track {
    background: #f7faff;
    box-shadow: inset 0 0 1px #606c7a;
    }
    
    &::-webkit-scrollbar-thumb:hover {
    background: #606c7a; 
    }
}

#right-sidenav-main.closed {

    right: -$rightbar-vertical-width;
    transition:all 1.5s;

    &::before {
        transition:all 1.5s;
        content: '<';
        right: -25px;
    }
}

#right-sidenav-main {

    display: none;
    z-index: 999999;
    
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        display: block;
    }

    padding: 0 !important;
    margin: 0 !important;
    margin-top: 82px !important;
    max-width: $rightbar-vertical-width !important;
    //overflow: hidden;

    > * {
        padding-left: $rightbar-dropdown-item-padding-x;
        padding-right: $rightbar-dropdown-item-padding-x;
        //margin-left: -(0.8033333 * $rightbar-dropdown-item-padding-x);
        //margin-right: -(0.8033333 * $rightbar-dropdown-item-padding-x);
        padding-top: $navbar-padding-y;
        padding-bottom: $navbar-padding-y;
    }

    > div {
        background: #f7faff;
    }

    > div:first-child {
        background: #e4eaf4;
        // height: 82px;
        padding: 0px !important;

        form {   

            float: left;
            width: 80%;
            margin-top: 6px;

            .input-group {
                //border-color: #98aecb !important;
                background: #fff !important;
                border-radius: 25px !important
            }

            .input-group,
            .input-group-text,
            input {
                color: #98aecb !important;
            }

            input.form-control {
                height: 0.8rem !important;
            }
        }

        ul.navbar-nav {
            flex-direction: row;
            padding-left: 0.4rem !important;

            .nav-link,
            .nav-link i {
                color: #98aecb !important;
                background: transparent !important;
            }

            .nav-link {
                padding: 0px !important;
            }

            .nav-link.active:before {
                border: none !important;
                border-image: none !important;
            }

            .nav-link.active:after {
                display: none !important;
            }

            .nav-link.active {
                color: #98aecb !important;
                background: transparent !important;

                i {
                    color: #98aecb !important;
                    background: transparent !important;

                    ::before, 
                    ::after {
                        display: none !important;
                    }
                }
            }

            li a {
                text-align: center;
                
                i {
                    padding-top: 0.8rem;
                    min-width: 1.8rem !important;
                }
            }

            li:last-child a i {
                margin-top: 2px;
            }
        }
    }

    > div:last-child {
        table {
            > tbody {
                > tr {
                    > td:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
    .chart-title 
    {
        font-weight: bold;
    }

    .chart-title-span {
        color: #FA5C86 !important;
    }

    .card .text-right {
        position: absolute;
        right: -28px;

        .btn-primary {
            background: #9a3dff !important;
            border: none !important;
            border-radius: 50% !important;
            width: 25px;
            height: 25px;
        }
    }

    // .chart-expense {
    //     margin-left: -10px;
    // }

    .chart-expense-adjust {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .chart-expense,
    .chart-expense-2 {
        background: #fff !important;
        border-radius: 0 0 calc(0.375rem - 1px) calc(0.375rem - 1px);
        padding-left: 1px;

        > *, svg {
            background: #fff !important;
            border-radius: 0 0 calc(0.375rem - 1px) calc(0.375rem - 1px);
        }
    }

    .progress-bar-title {
        width: 100%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        float: left;
        margin-right: 5px;
        color: #7D889B;
        font-weight: 900;
        font-size: 11px;
        padding-left: 3px;
    }

    .progress {
        width: 100%;
        float: left;
        margin-top: 7px;
        border-radius: 15px;
    }

    .expense-progress-bar {

        margin-left: 1px;
        margin-right: 1px;
        padding: 0.7rem 0.7rem;
        border-radius: 0 0 calc(0.375rem - 1px) calc(0.375rem - 1px);
        margin-bottom: 15px;

        background: #fff !important;
        opacity: 1 !important;

        .progress-bar {
            font-size: 10px;
            border-radius: 15px;
        }

        > *, svg {
            background: #fff !important;
            opacity: 1 !important;
        }

        // .progress-bar-title:nth-child(1) {
        //     border-left: 2px solid #FEDC00;
        // }

        .progress-bar-right-sidebar:nth-child(2) {
            .bg-indigo {
                background-color: #FEDC00 !important;
            }
        }

        .progress-bar-title:nth-child(3) {
            border-left: 2px solid #FA5C86;
        }

        .progress-bar-right-sidebar:nth-child(4) {
            .bg-indigo {
                background-color: #FA5C86 !important;
            }
        }

        .progress-bar-title:nth-child(5) {
            border-left: 2px solid #346EDD;
        }

        .progress-bar-right-sidebar:nth-child(6) {
            .bg-indigo {
                background-color: #346EDD !important;
            }
        }

        .progress-bar-title:nth-child(7) {
            border-left: 2px solid #EB5D20;
        }

        .progress-bar-right-sidebar:nth-child(8) {
            .bg-indigo {
                background-color: #EB5D20 !important;
            }
        }

        .progress-bar-title:nth-child(9) {
            border-left: 2px solid #52EDC7;
        }

        .progress-bar-right-sidebar:nth-child(10) {
            .bg-indigo {
                background-color: #52EDC7 !important;
            }
        }

        .progress-bar-title:nth-child(11) {
            border-left: 2px solid #E4202E;
        }

        .progress-bar-right-sidebar:nth-child(12) {
            .bg-indigo {
                background-color: #E4202E !important;
            }
        }

        .progress-bar-title:nth-child(13) {
            border-left: 2px solid #99ADCE;
        }

        .progress-bar-right-sidebar:nth-child(14) {
            .bg-indigo {
                background-color: #99ADCE !important;
            }
        }

        .progress-bar-title:nth-child(15) {
            border-left: 2px solid #59C8FB;
        }

        .progress-bar-right-sidebar:nth-child(16) {
            .bg-indigo {
                background-color: #59C8FB !important;
            }
        }
    }

    // .chart-expense-2 svg > foreignObject > div {
    //     right: -65px !important;
    //     left: unset !important;
    // }

    #right-sidenav-main .apexcharts-legend {
        left: unset !important;
        right: unset !important;
        bottom: 0px !important;
    }

    #right-sidenav-main .apexcharts-legend.center {
        transform: unset !important;
        right: 0 !important;
    }

    .apexcharts-xaxis text,
    .apexcharts-yaxis text {
        font-weight: bolder;
    }

    .apexcharts-legend
    {
        position: absolute;
        left: unset !important;
        top: 0px !important;
        right: -40px !important;
    }

    .card {
        margin-top: 15px;
    }

    .before-title-img {
        float: left;
        margin-right: 8px;
        height: auto;
        width: auto;
        max-width: 18px;
        margin-top: 3px;
    }

    .before-title-img-2 {
        margin-top: 6px;
    }

    .card {
        .table {
            td, th {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                color: #98aecc;
                font-weight: bold;
            }
            td:first-child, th.first-child {
                padding-left: 1rem !important;
                font-weight: bold;
                color: #172b4d;
            }
        }
    }

    .entries {
        .card {
            .table {

                tr:not(:nth-child(1)) > td {
                    border-top: none !important;
                }

                tr:nth-child(1) > td:nth-child(1) > div {
                    border-left: 2px solid #ff5c86;
                    padding-left: 4px;
                }
                tr:nth-child(2) > td:nth-child(1) > div {
                    border-left: 2px solid #3cedc9;
                    padding-left: 4px;
                }
                tr:nth-child(3) > td:nth-child(1) > div {
                    border-left: 2px solid #50c9f7;
                    padding-left: 4px;
                }
            }
        }
    }

    .entries-right {
        .card {
            .table {

                tr:not(:nth-child(1)) > td {
                    border-top: none !important;
                }

                tr:nth-child(1) > td:nth-child(1) > div {
                    border-left: 0px solid #ff5c86;
                    padding-left: 0px;
                }
                tr:nth-child(2) > td:nth-child(1) > div {
                    border-left: 0px solid #3cedc9;
                    padding-left: 0px;
                }
                tr:nth-child(3) > td:nth-child(1) > div {
                    border-left: 0px solid #50c9f7;
                    padding-left: 0px;
                }
            }
        }
    }

    .hidden {
        display: none !important;
    }

    .home-summary-dream-card,
    .home-summary-estimated-realizaded-card,
    .home-summary-estimated-realizaded-card-dark {
        .table {

            tr:nth-child(1) > td:nth-child(1),
            tr:nth-child(2) > td:nth-child(1),
            tr:nth-child(3) > td:nth-child(1),
            tr:nth-child(4) > td:nth-child(1) {
                color: #7A97BF !important;
                font-weight: bold;
            }

            tr:nth-child(1) > td:nth-child(2),
            tr:nth-child(2) > td:nth-child(2),
            tr:nth-child(3) > td:nth-child(2),
            tr:nth-child(4) > td:nth-child(2) {
                color: $navbar-third-color !important;
                font-weight: bold;
            }

            tr:nth-child(1) > td:nth-child(3),
            tr:nth-child(2) > td:nth-child(3),
            tr:nth-child(3) > td:nth-child(3),
            tr:nth-child(4) > td:nth-child(3) {
                color: $navbar-background-color !important;
                font-weight: bold;
            }
        }
    }
}

.skylight-close-button {
    background: $navbar-third-color !important;
    color: #fff !important;
    font-size: 3em !important;
    right: -23px !important;
    top: -23px !important;
    width: 50px !important;
    height: 50px !important;
    padding-left: 12px !important;
    padding-top: 0px !important;
    line-height: 1 !important;
    border-radius: 50% !important;
}

.css-yk16xz-control {
    border-radius: 25px !important;
    border: 1px solid $navbar-third-color !important;
    background: 1px solid #A1B2D2 !important;
    padding: 1px 15px !important;
}

.css-yk16xz-control,
.css-yk16xz-control a,
.css-yk16xz-control .css-1uccc91-singleValue
{
    color: $navbar-background-color !important;
}

.featured-button 
{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px !important;
    color: #fff !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 7px 15px !important;
    border: none !important;
    cursor: pointer !important;
}

.skylight-wrapper .featured-button 
{
    float: right;
}

.aux-button 
{
    border-radius: 25px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 7px 15px;
    border: 1px solid $navbar-third-color !important;
    background: 1px solid #A1B2D2 !important;
    cursor: pointer !important;
}

.aux-button,
.aux-button a
{
    color: $navbar-background-color !important;
}

.aux-button:hover,
.aux-button:hover a,
.aux-button:hover span {
    color: $navbar-third-color !important;
}

.new-entry:hover,
.new-entry:hover a,
.new-entry:hover span,
.featured-button:hover,
.featured-button:hover a,
.featured-button:hover span {
    color: #cdcdcd !important;
}

.skylight-dialog {

    margin-left: 0px !important;
    width: 80% !important;
    left: 10% !important;
    z-index: 9999999 !important;
    min-height: unset !important;
    position: absolute !important;

    > div > nav {
        padding: 0px;

        > div > li {
            list-style: none;
            border-radius: 25px;
            background: transparent;
            color: $navbar-background-color;
            border: 1px solid $navbar-third-color;
            margin-left: 8px;
            margin-right: 8px;
            width: 130px;
            text-align: center;
    
            &.active {
                background: $navbar-third-color;
                color: #fff;
            }
        }
    }

    > div.row {
        padding: 20px;

        > div {
            > div {
                margin-bottom: 15px;

                > div > input, 
                > input, 
                > textarea,
                .react-datepicker-wrapper > div,
                .css-yk16xz-control {
                    width: 100% !important;
                    background: #F7F9FB !important;
                    border-radius: 15px !important;
                    // border: 1px solid #DEE5EF !important;
                    border: 0px solid #DEE5EF !important;
                }

                > input[type="checkbox"],
                > div > input[type="checkbox"] {
                    width: auto !important;
                }

                > div > input, 
                > input, 
                > textarea,
                .react-datepicker-wrapper > div {
                    padding: 5px 8px;
                }

                .react-datepicker-wrapper {
                    width: 100%;
                }

                .react-datepicker-wrapper > div > input {
                    background: transparent !important;
                    border: none !important;
                }

                label {
                    width: 100%;
                    color: #3F5068;
                }
            }
        }
    }

    .pop-up-title {
        width: 100%;
        float: left;

        > * {
            float: left;
            width: fit-content;
            width: max-content;
        }

        > i {
            padding-top: 6.5px;
            margin-right: 5px;
        }
    }

    @media(max-width: 767px){
        
        div.pop-up-title {

            width: 100% !important;

            > nav
            {
                width: 100% !important;

                > div.container
                {
                    display: block !important;

                    li.nav-item {
                        width: 100% !important;
                        margin-bottom: 5px;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
            }

            > h2{
                font-size: 1.05rem !important;
            }
        }
    }
}

.skylight-dialog {
    margin-top: 0px !important;
    top: 25px !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.fita {	
	position: relative;
	margin: 2px auto;
	width: 90%;
	line-height:28px;
	height:30px;
	font-size: 13px;
	text-align: center;
	font-weight:700;
	text-transform: uppercase;
}

.fita:before, .fita:after{
	content: '';
	line-height:0;
	border-style:solid;
	border-width: 15px;
	position: absolute;
	top:3px;
	z-index: -2000;
	width:5px;
}

.fita-cliente {
    background: #00CCF8;
    color: #162B4D;
}

.fita-admin {
    background: $navbar-planner-second-color;
    color: $navbar-planner-first-color;
}

.fita-planner {
    background: $navbar-planner-second-color;
    color: $navbar-planner-first-color;
}

.fita-cliente:before{
	border-color: #00CCF8 #00CCF8 #00CCF8 transparent;
	left:-25px;
}
.fita-cliente:after{
	border-color: #00CCF8 transparent #00CCF8 #00CCF8;
	right: -25px;
}

.fita-admin:before{
	border-color: $navbar-planner-second-color $navbar-planner-second-color $navbar-planner-second-color transparent;
	left:-25px;
}
.fita-admin:after{
	border-color: $navbar-planner-second-color transparent $navbar-planner-second-color $navbar-planner-second-color;
	right: -25px;
}

.fita-planner:before{
	border-color: $navbar-planner-second-color $navbar-planner-second-color $navbar-planner-second-color transparent;
	left:-25px;
}
.fita-planner:after{
	border-color: $navbar-planner-second-color transparent $navbar-planner-second-color $navbar-planner-second-color;
	right: -25px;
}

.MuiPaper-rounded {
    border-radius: 15px !important;
}

.MuiTableCell-root {
    border-top: 1px solid rgba(224, 224, 224, 1);
    border-bottom: 0px solid rgba(224, 224, 224, 1) !important;
}

.MuiTypography-subtitle1 {
    line-height: 1.2 !important;
    font-size: 0.87rem !important;
}

.MuiTableCell-root {
    line-height: 1 !important;
    font-size: 0.8rem !important;
}

.home-summary-top {
    .card {
        border: 0px solid white !important;
    }
}

.MuiTable-root input,
.MuiTable-root .false-input,
.react-datepicker-wrapper input {
    border: 0px solid white !important;
    border-bottom: 1px solid $navbar-third-color !important;
    padding: 1px 5px !important;
}

.react-datepicker-wrapper input {
    width: 100px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.react-datepicker__tab-loop {
    position: absolute;
    top: 0;
}

.react-datepicker__month-container {
    min-width: 100px;
}
// .progress-bar-right-sidebar {
//     border: 1px solid white !important;
// }

.excluir-sonho-plano {
    border: 1px solid white;
    border-radius: 50%;
    background: $navbar-background-color;
    color: #fff;
    width: 30px;
    height: 30px; 
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 1;
}

.excluir-sonho-plano:hover {
    background:$navbar-background-color;
}

.excluir-sonho-plano span {
    color: #fff;
    margin-left: 35.5%;
}

.filterAndOnder.text-field input {
    width: 100%;
    border: 0px solid white !important;
    border-bottom: 1px solid $navbar-third-color !important;
    padding: 1px 5px !important;
}

.filterAndOnder.text-field {
    label {
        margin-top: 9px;
    }
}

.patrimonio-card {
    border-color: #98aecb;
}

.patrimonio-title {
    background-color: #98aecb;
    color: #fff;
}

.patrimonio-card-invert {
    border-color: #98aecb;
}

.patrimonio-title-invert {
    background-color: #bacfed;
    color: #fff;
}

.plano-card-invert {
    border-color: $navbar-background-color;
}

.plano-title-invert {
    background-color: $navbar-background-color;
    color: #fff;
}

.plano-title-invert a,
.patrimonio-title a,
.patrimonio-title-invert a {
    color: #fff;  
}

.plano-title.card-header,
.plano-title-invert.card-header,
.patrimonio-title.card-header,
.patrimonio-title-invert.card-header,
.plano-card .card-body,
.plano-card-invert .card-body,
.patrimonio-card .card-body,
.patrimonio-card-invert .card-body {
    padding: 5px !important;
}

.no-padding {
    padding: 0px !important;
}

div.MuiPopover-root > div.MuiPaper-root.MuiPaper-elevation2 {
    left: unset;
    right: 0px !important;
    width: 300px !important;
    min-width: 30vw;
    max-width: 100vw;
}

.progress-bar {
    position: relative;
}

.skylight-overlay {
    z-index: 9999999 !important;
}

.consolidacao .apexcharts-legend,
.rentabilidade .apexcharts-legend
{
    left: 50% !important;
    bottom: 0px !important;
}

.campo-consolidado {
    font-size: 12px !important;
}

#atualizar-familias-sidebar{
    position: fixed;
    left: -1000px;
}