.Steps {
    width: 100%;
    position: relative;
    overflow: auto;
    text-align: center;
}

.CircleHolder {
    display: inline-block;
    overflow: auto;
    cursor: pointer;
}

.CircleHolder .Circle {
    height: 4rem;
    width: 4rem;
    float: left;
    position: relative;
    background: white;
    border: 1px solid gray;
    border-radius: 50%;
}

.Circle.active {
    animation-name: colors;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.Circle.fixed {
    color: #4ecdc4;
    border-color: #4ecdc4;
}

.CircleHolder .Circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

.CircleHolder p {
    margin: 0;
    font-size: .6rem;
}

.Line {
    height: 2px;
    width: 10%;
    margin-bottom: 2rem;
    background: gray;
    display: inline-block;
}

.Line .LineFiller {
    height: 100%;
    width: 0%;
    background: #4ecdc4;
}

.LineFiller.active {
    animation-name: width;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.LineFiller.fixed {
    width: 100%;
}

.FadeOut {
    animation-name: fadeOut;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.FadeIn {
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.Invisible {
    opacity: 0;
    display: none  !important;
}

.Holder {
    width: 100%;
    height: 12rem;
    position: relative;
    text-align: center;
}

.Center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Option {
    width: 12rem;
    height: 12rem;
    border: 1px solid gray;
    border-radius: 2rem;
    margin-left: 1rem;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
}

.Option p {
    font-size: 1.25rem;
}

.Option:nth-child(1) i {
    font-size: 6rem;
    margin-top: 2rem;
}

.Option:nth-child(2) i {
    font-size: 5rem;
    margin-top: 3rem;
}

.ZIndexBack {
    z-index: 0 !important;
}

@keyframes colors {
    0% { 
        color: gray;
        border-color: gray;
    }
    100% { 
        color: #4ecdc4;
        border-color: #4ecdc4;
    }
}

@keyframes width {
    0% { 
        width: 0%;
    }
    100% { 
        width: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.OpacityIn {
    -webkit-animation-name: OpacityIn;
    animation-name: OpacityIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.OpacityOut {
    -webkit-animation-name: OpacityOut;
    animation-name: OpacityOut;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes OpacityOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes OpacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}